:root {
  --white: #ffffff;
  --grayish-white: rgba(151, 151, 151, 0.1);
  --black: #000000;
  --dark-brown: #291507;
  --light-brown: #e3e1dc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}
